<ul>
	<li><%= link_to "teacher list", "teachers" %></li>
	<li><%= link_to "add new teacher", new_teacher_path() %></li>
	<li><%= link_to "course list", "courses" %></li>
	<li><%= link_to "add new course", new_course_path() %></li>
	<li><%= link_to "class list", "clclasses" %></li>
	<li><%= link_to "add new class", new_clclass_path() %></li>
	<li><%= link_to "user list", "users" %></li>
	<li><%= link_to "add new user", new_user_path() %></li>
</ul>
