<div class="well">
	<p>
		<%= link_to t("sysadmin.teacher_list"), "teachers" %>
	</p>
	<p>
		<%= link_to t("sysadmin.teacher_new"), new_teacher_path() %>
	</p>
	<hr />
	<p>
		<%= link_to t("sysadmin.course_list"), "courses" %>
	</p>
	<p>
		<%= link_to t("sysadmin.course_new"), new_course_path() %>
	</p>
	<hr />
	<p>
		<%= link_to t("sysadmin.clclass_list"), "clclasses" %>
	</p>
	<p>
		<%= link_to t("sysadmin.clclass_new"), new_clclass_path() %>
	</p>
	<hr />
	<p>
		<%= link_to t("sysadmin.user_list"), "users" %>
	</p>
	<p>
		<%= link_to t("sysadmin.user_new"), new_user_path() %>
	</p>
</div>
