<div class="row-fluid">
	<div class="span12">
		<div class="well-small" style="background-color: lavender;">
			<div class="row-fluid">
				<div class="span3">
					<div class="well-small" style="background-color: lavender;">
						<hr />
						<h2><%= t('teams.find_team')%></h2>
						<%= form_tag teams_path, :method => 'get' do %>
						<br />
						<br />
						<p>
							<b><%= t('teams.find_team_by_name')%>:</b>
							<%= search_field_tag :name, params[:name], size: 10, placeholder: 'teamname'%>

							<b><%= t('teams.find_team_by_description')%>:</b>
							<%= search_field_tag :description, params[:description], size: 20, placeholder: 'description' %>

							<%= submit_tag t("search") , class: "btn btn-inverse"%>
							<%= submit_tag t('reset'), type: :reset, class: 'btn btn-danger' %>

						</p>
						<% end %>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span9">
						<div class="well-small" style="background-color: lavender;">
							<hr />
							<h2><%= t('teams.team_list') %></h2>
							<table class="table table-hover">
								<% @teams.each do |team| %>
								<tr>
									<td width="15%"> <% if team.avatar? %>
									<%= image_tag(team.avatar_url(:small_thumb)) %>
									<% else %>
									<%= image_tag("default.png") %>
									<% end %> </td>
									<td><i class="icon-list-alt"></i><b><%= t('teams.team_name') %>:</b> <%= team.name %>
									<br />
									<i class="icon-user"></i><b><%= t('teams.members') %></b><%= get_user_by_team(team.id).count %>
									<br />
									<i class="icon-time"></i><b><%= t('teams.create_at') %>:</b> <%= team.created_at %>
									<br />
									<i class="icon-list"></i><b><%= t('teams.description') %>:</b> <%= truncate(strip_tags(team.description),:length => 40) %>
									<br />
									<%= link_to t('show'), team %>
									<%= link_to t('edit'), edit_team_path(team) %>
									<%= link_to t('destroy'), team, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
									<br />
								</tr>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<%= link_to t('teams.my_teams'),show_team_team_path(current_user), class: "btn btn-primary"%>|
			<%= link_to t('teams.new_team'), new_team_path, class: "btn btn-primary"%>
		</div>
	</div>
</div>
