<div class="row-fluid">
	<div class="span12">
		<div class="well-small" style="background-color: lavender;">
			<div class="row-fluid">
				<div class="span3">
					<div class="well-small" style="background-color: lavender;">
						<hr />
						<h2>查找小组</h2>
						<%= form_tag teams_path, :method => 'get' do %>
						<br /><br />
						<p>
							<b>通过小组名字查找:</b>
							<%= search_field_tag :name, params[:name], size: 10, placeholder: 'teamname'%>

							<b>通过小组描述查找:</b>
							<%= search_field_tag :description, params[:description], size: 20, placeholder: 'description' %>

							<%= submit_tag t("search") , class: "btn btn-inverse"%>
							<%= submit_tag t('reset'), type: :reset, class: 'btn btn-danger' %>

						</p>
						<% end %>
					</div>
				</div>
	
				<div class="row-fluid">
					<div class="span9">
						<div class="well-small" style="background-color: lavender;">
							<hr />
							<h2>小组列表</h2>
							<table class="table table-hover">
								<% @teams.each do |team| %>
								<tr>
									<td width="15%"> <% if team.avatar? %>
									<%= image_tag(team.avatar_url(:small_thumb)) %>
									<% else %>
									<%= image_tag("default.png")%>
									<% end %> </td>
									<td>
										<b>name:</b> <%= team.name %>
									    <br />			
										<%= get_user_by_team(team.id).count %>
										<b>members</b>
										<br />										    							
										<b>create at:</b>
										<%= team.created_at%>
										<br />
									<b>description:</b> <%= team.description %>
									<br />
									<%= link_to 'Show', team %>
									<%= link_to 'Edit', edit_team_path(team) %>
									<%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
									<br />
								</tr>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<%= link_to 'show my team',show_team_team_path(current_user), class: "btn btn-primary"%>|
			<%= link_to 'New Team', new_team_path, class: "btn btn-primary"%>
		</div>
	</div>
</div>
