<div class="well-small" style="background-color: lavender;">
	<table class="table">
		<hr />
		<tr>
			<% if @team.avatar? %>
			<%= image_tag(@team.avatar_url(:thumb)) %>
			<% else %>
			<%= image_tag("default.png")%>
			<% end %>
		</tr>
		<tr>
			<i class="icon-list-alt"></i>
			<b><%= t('teams.team_name')%></b>
			<%= @team.name %>
			<br />
		</tr>	
		<tr>
			<i class="icon-user"></i>
			<b><%= t('teams.members')%>
			<%= @users.count %></b>
		</tr>			
		<br />
		<tr>
			<i class="icon-time"></i>
			<b><%= t('teams.create_at')%></b>
			<%= @team.created_at%>
		</tr>
		<br />
		<tr>
			<i class="icon-list"></i>
			<b><%= t('teams.description')%></b>
			<%= @team.description %>
		</tr>
	 <% if join_team? %>
	 <br />
	   <%= link_to t("teams.leave_team"),leave_team_path(@team),:method => :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger"%>
	 <% else %>
	   <%= render 'join_team'%>
	 <% end %>
	</table>
    <div class="well" style="background-color: lavender;">
      <h2><%= t('teams.user_list')%></h2>
       <%@users.each do |user|%>
								<table>
									<% if user.avatar? %>
									<tr>
										<td><%= link_to image_tag(user.avatar_url(:small_thumb)),user %></td>
									</tr>
									<% else %>
									<tr>
										<td><%= link_to image_tag("small_default.png"),user %></td>
									</tr>
									<% end %>	
									<tr>
										<td><%= link_to (user.first_name+user.last_name),user %></td>
									</tr>
								</table>
      <% end%>
    </div>
    <%= link_to t('teams.my_teams'),show_team_team_path(current_user), class: "btn btn-primary"%>|
	<%= link_to t('edit'), edit_team_path(@team),class: "btn btn-warning" %> |
	<%= link_to t('back'), teams_path,class: "btn btn-inverse" %>
</div>
