<div class="well" style="background-color: lavender;">
	<h1><%= t('teams.my_teams')%></h1>
	<table class="table table-hover">
	<% @myteam.each do |tr| %>
	   <div class="well-small">
		<tr>
			<td width="20%">
		<% if tr.avatar? %>
		<%= image_tag(tr.avatar_url(:thumb)) %>
		<% else %>
		<%= image_tag("default.png")%>
		<% end %>
		</td>
		<td>
		<i class="icon-list-alt"></i>	
		<b><%= t('teams.team_name')%></b>:
		<%= link_to tr.name,tr %>
		<br />	
		<i class="icon-user"></i>		
		<b><%= t('teams.members')%></b>
		<%= get_user_by_team(tr.id).count %>
		<br />		
		<i class="icon-time"></i>
		<%= t('teams.create_at')%>
	    <b>create at:</b>
		<%= tr.created_at%>
		<br />
		<i class="icon-list"></i>
		<b><%= t('teams.description') %></b>:
		<%= tr.description %>
		<br />
		<%= link_to t("teams.leave_team"),leave_team_path(tr),:method => :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger"%>
		<br />
		</td>
		</tr>
	  </div>
	<% end %>
	</table>
	<hr />
	<%= link_to t('back'), teams_path,class: "btn btn-inverse" %>
</div>
