<div class="center hero-am">
	<h1><%= t('welcome')%></h1>

	<h2> This is the home page for the <%= link_to t('Dian Di Yun'), root_path %> company. </h2>
	<% if !signed_in? %>
	<%= link_to t('sign_up'), signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>
<div class="fallClass">
<%= link_to t('clclass.list'), "clclasses"%></div>
<div class="coursesContainer">
	<% @clclasses.each do |clclass| %>
	<% @teacher = get_teacher_by_clclass(clclass.teacher) %>
	<div class="courseCell row-fluid">
		<div class="span3">
			<div class="imageContainer">
				<% if @teacher.avatar? %>
				<%= link_to image_tag(@teacher.avatar_url(:thumb)) , clclass%>
				<% end %>
			</div>
		</div>
		<div class="span7">
			<div class="contentContainer">
				<div class="courseNameContainer">
					<h2 class="courseName"> <%= link_to get_course_by_clclass(clclass.course_id).course_name, clclass%> </h2>
					<span class="instructorName textGray"> <%= @teacher.first_name+''+@teacher.last_name%> : <span class="instructorTitle textGray"> <i> <%= @teacher.title%> </i> </span> </span>
				</div>
				<div class="courseSummary">
					<p>
						<%= truncate(strip_tags(raw clclass.class_description), :length =>80) %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

