<% provide(:title, "Sign in") %>

<div class="row">
	<div class="span6 offset3">
		<div class="well">
			 <h1><%= t('users.sign_in_user')%></h1><hr />
			<%= form_for(:session, url: sessions_path) do |f| %>

			<%= t('users.email') %>
			<%= f.text_field :email, :type => "email", :required => true %>

			<%= t('password') %>
			<%= f.password_field :password, :type => "password", :required => true %>

			<%= f.submit t("sign_in"), class: "btn btn-large btn-primary" %>
			<% end %>
            <p><%= link_to t("forgotten_password"), new_password_reset_path %></p>
			<p>
				<%= t('new_user') %> <%= link_to t("sign_up"), signup_path %>
			</p>
		</div>
	</div>
</div>
