<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h2><%= t('reset_password')%></h2>
			<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
			<div class="field">
				<b><%= t('password') %>:</b>
				<%= f.password_field :password %>
			</div>
			<div class="field">
				<b><%= t("confirmation") %>:</b>
				<%= f.password_field :password_confirmation %>
			</div>
			<div class="actions">
				<%= f.submit t("save"),class: "btn btn-large btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
