<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h2><%= t('send_email')%></h2>
			<%= form_tag password_resets_path, :method => :post do %>
			<div class="field">
				<b><%= t('users.email') %>:</b>
				<%= text_field_tag :email, params[:email],:type => "email", :required => true%>
			</div>
			<div class="actions">
				<%= submit_tag t("send"), class: "btn btn-large btn-primary"%>
			</div>
			<% end %>
		</div>
	</div>
</div>
