<%= form_for([@clclass, @lecture]) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :slides %><br />
    <%= f.text_field :slides %>
  </div>
  <div class="field">
    <%= f.label :transcript %><br />
    <%= f.text_field :transcript %>
  </div>
  <div class="field">
    <%= f.label :key_concepts %><br />
    <%= f.text_area :key_concepts %>
  </div>
  <div class="field">
    <%= f.label :reading %><br />
    <%= f.text_area :reading %>
  </div>
  <div class="field">
    <%= f.label :assignment %><br />
    <%= f.text_area :assignment %>
  </div>
  <div class="field">
    <%= f.label :additional_rsources %><br />
    <%= f.text_area :additional_rsources %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
