<%
if @video.lecture_id
	u = {:action=>'update_video'}
else
	u = {:action=>"videos"}
end%>
<%= form_for([@clclass, @lecture, @video], :url=>u) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('clclass.video.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= "url" %><br />
    <i><%= t('ps:分享有四种复制方式，请选择第三种或第四种，复制‘html代码’或‘通用代码’到这里')%></i><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= t('clclass.video.slides') %><br />
    <%= f.text_field :slides %>
  </div>
  <div class="field">
    <%= t('clclass.video.transcript') %><br />
    <%= f.cktext_area :transcript %>
  </div>

  <div class="actions">
    <%= f.submit t("save"), class: "btn btn-large btn-primary" %>
  </div>
<% end %>
