<div class='row-fluid'>
	<div class='span12' style="background-color: lavender;">
		<div class='row-fluid tabbable tabs-left'>
			<div class='span2 tab-span'>
				<div class='well less-padding left-menu' style="background-color: lavender;">
					<ul class='nav nav-list'>
						<li class="active">
							<%= link_to t("clclass.lecture.introduction"), clclass_lectures_path(@clclass)%>
						</li>
						<li class='nav-header'>
							<%= t('clclass.lecture.content') %>
						</li>
						<% @lectures.each do |lecture| %>
						<ul>
							<li class="">
								<%= link_to lecture.name, clclass_lecture_path(@clclass, lecture) %>
							</li>
						</ul>
						<% end %>
						</li>
					</ul>
				</div>
			</div>

			<div class='span10'>
				<div class='well' style="background-color: lavender;">
					<div class='tab-content'>
						<div id="item-1" class="tab-pane active">
							<h2><%= t('clclass.lecture.introduction')%></h2>
							<hr />
							<div class="icon-film"></div><th>video</th>
							<br />
							<p>
								这里是每个课程的视频
							</p>
							<hr />
							<div class="icon-list-alt"></div><th>Key Concepts</th>
							<p>
								这里是每个课程的关键概念
							</p>
							<hr />
							<div class="icon-book"></div><th>Reading</th>
							<p>
								reading
							</p>
							<hr />
							<div class="icon-pencil"></div><th>Assignment</th>
							<p>
								这里是每个课程之后布置的作业
							</p>
							<hr />
							<%  if can? :modify, Exercise %>
							<%= link_to t("clclass.lecture.new_lecture"), new_clclass_lecture_path, class: "btn btn-inverse"%>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

