<p id="notice"><%= notice %></p>


<p>
  <b>Lecture Name:</b>
  <%= @lecture.name %>
</p>

<p>
  <b>video:</b>
  <%= link_to @lecture.video, @lecture.video %>
</p>

<p>
  <b>key_concepts:</b>
  <%= @lecture.key_concepts %>
</p>

<p>
  <b>assignment:</b>
  <%= @lecture.assignment %>
</p>


<%= link_to 'Edit', edit_clclass_lecture_path(@clclass,@lecture) %> |
<%= link_to 'Back', clclass_lectures_path %>
