<div class="row-fluid">
	<div class="span12">
		<div class="well-large well">
		<p>
           <b><%= t("clclass.lecture.name")%>:</b>
            <%= @lecture.name %>
        </p>
        <hr />
        <%= t('课程视频')%>
        <div class="well well-small">
        <% @lecture.video.each do |v|%>
          <p>
            <i class="icon-film"></i> Video: <%= link_to v.name, show_video_clclass_lecture_path(@clclass, @lecture, v)  %>
          </p>
        <% end %>
        </div>
        <hr />
        <p>
           <b><%= t("clclass.lecture.key_concepts")%>:</b>
           <div class="well well-small">
             <%= raw @lecture.key_concepts %>
           </div>
        </p>
        <hr />
        <p>
           <b><%= t("clclass.lecture.assignment")%>:</b>
           <div class="well well-small">
           <%= raw @lecture.assignment %>
           <% @exercises.each do |e|%>
             <p>
          	  Exercise: <%=link_to e.name, clclass_exercise_path(@clclass,e) %>
             </p>
           <%end%>
           </div>
        </p>
        <hr />
        <%= link_to "add new video",  new_video_clclass_lecture_path %>
        <%= link_to "add new exercise",  new_clclass_lecture_exercise_path(@clclass,@lecture) %>
        <%= link_to t('edit'), edit_clclass_lecture_path(@clclass,@lecture) %> |
        <%= link_to t('back'), clclass_lectures_path %>
        </div>
    </div>
</div>

