<p id="notice"><%= notice %></p>


<p>
  <b><%= t("clclass.lecture.name")%>:</b>
  <%= @lecture.name %>
</p>

<% @lecture.video.each do |v|%>
<p>
  Video: <%= link_to v.name, show_video_clclass_lecture_path(@clclass, @lecture, v)  %>
</p>
<% end %>
<p>
  <b><%= t("clclass.lecture.key_concepts")%>:</b>
  <%= @lecture.key_concepts %>
</p>

<p>
  <b><%= t("clclass.lecture.assignment")%>:</b>
  <%= @lecture.assignment %>
</p>

<%= link_to "add new video",  new_video_clclass_lecture_path %>
<%= link_to t('edit'), edit_clclass_lecture_path(@clclass,@lecture) %> |
<%= link_to t('back'), clclass_lectures_path %>
