<%= form_for(@clclass) do |f| %>

  <div class="field">
    <%= t("course.full_name")%>:<br />
  	<%= select_tag 'clclass[course_id]', options_from_collection_for_select(@courses, :id, :name) %>
  </div>
  <div class="field">
    <%= t('clclass.teacher') %>:<br />
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= t("clclass.start_date")%>:<br />
    <%= f.calendar_date_select :starting_date %>
  </div>
  <br />
  <div class="field">
    <%= t("course.description")%>:<br />
    <%= f.cktext_area :class_description %>
  </div>
  <div class="field">
    <%= t("clclass.technical_requirements")%>:<br />
    <%= f.cktext_area :technical_requirements %>
  </div>
  
  <div class="actions">
  <%= f.submit t("clclass.save"), class: "btn btn-large btn-primary" %>
  </div>
<% end %>
