<!--<h2><%= t("clclass.summary") %></h2>-->
<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<div class="row-fluid">
				<div class="span10">
					<table>
						<tr>
							<td><%= image_tag(@teacher.avatar_url(:small_thumb)) if @teacher.avatar? %></td>
						</tr>
						<tr>
							<td><i class="icon-user"></i><b><%= t("clclass.teacher")%>:</b><strong><%= link_to @teacher.first_name+@teacher.last_name, @teacher %>
							<br />
							</strong><i class="icon-th-list"></i><b><%= t('teachers.resume') %></b>:
							<%= raw @teacher.resume %> </td>
						</tr>
					</table>
					<hr />
					<div class="well well-small">
						<p>
							<i class="icon-star"></i>
							<b><%= t("course.description") %>:</b>
							<%= raw @clclass.class_description%>
						</p>
					</div>
					<hr />
					<div class="well well-small">
						<p>
							<i class="icon-star"></i>
							<b><%= t("clclass.technical_requirements")%>:</b>
							<%= raw @clclass.technical_requirements %>
						</p>
					</div>
					<hr />
				</div>
				<!--end of well left-->
				<div class="">
					<div class="span2">
						<div class="well">
							<p>
								<b><%= t("clclass.students")%>:
								<br/>
								</b>
								<%@users.each do |u|%>
								<table>
									<tr>
										<td><%= image_tag(u.avatar_url(:small_thumb)) if u.avatar? %></td>
									</tr>
									<tr>
										<td><%= link_to (u.first_name+u.last_name),u %></td>
									</tr>
								</table>
								<% end%>
							</p>
						</div>
					</div>
				</div>
			</div><!--end of row-fluid-->
		</div>
	</div>
</div>