<h2><%= t("clclass.summary") %></h2>
<div class="well well-small">
	<p>
		<b><%= t("clclass.students")%>:
		<br/>
		</b>
		<%@users.each do |u|%>
		<%= u.last_name%>&nbsp;<%= u.first_name%>, comes from <%= u.city%>, email: <%= u.email%></br>
		<% end%>
	</p>
</div>
<div class="well well-small">
	<p>
		<b><%= t("clclass.teacher")%>:</b>
		<%= @clclass.teacher %>
	</p>
</div>
<div class="well well-small">
	<p>
		<b><%= t("clclass.lecture.lecture")%>:
		<br/>
		</b>
		<%@lectures.each do |l|%>
		<%= l.name%>
		<br/>
		<% end%>
	</p>
</div>
<div class="well well-small">
	<p>
		<b><%= t("clclass.assignment")%>:</b> none;
	</p>
</div>
