<% provide(:title, "Edit user") %>

<div class='' id='wrap'>
<div id='main'>
<div class='navbar' id='topNav'>
<div class='navbar-container'>
<div class='container non-course-navbar-container'>
<div class='navbar subnav non-course'>

</div>
</div>
</div>
</div>

<div class='container main-container'>
<div class='content'>
<div class='row'>
<div class='span12'>

</div>
</div>
<div class='row'>
<div class='row-fluid'>
<div class='span12'>
<h2 class='hidden-accessible'>Edit Profile Details</h2>
<div class="row-fluid" >

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :"Upload a Picture from your Computer" %><br />  
    <%= image_tag(@user.avatar_url(:thumb)) if @user.avatar? %>  
    <%= f.file_field :avatar %> 
    <%= f.hidden_field :avatar_cache %> 

    <%= f.label :"textfield to enter your first name" %>
    <%= f.text_field :first_name %>

    <%= f.label :"textfield to enter your last name" %>
    <%= f.text_field :last_name %>
      
    <%= f.label :" Where do you live? Enter the name of the city and select from the available choices" %>
    <%= f.text_field :city %>

    <%= f.label :" Please select your age range, This information will not be shared on your profile." %>
    <!--<%= f.text_field :age %>-->
    <%= f.select :age, [["--select one--",""],['18-20', '18-20'], ['21-25', '21-25'],['26-30','26-30'],["31-35","31-35"],["36-40","36-40"],
                        ["41-45","41-45"],["46-50","46-50"],["over 50","over 50"]] %>
    
    <%= f.label :"Please select your gender ,This information will not be shared on your profile." %>
   <!-- <%= select_tag "gender", options_for_select([ "man", "woman"]) %>-->
    <%= f.select :gender, [['Male', 'Male'], ['Female', 'Female'],['Do not want to disclose','Do not want to disclose']] %>
    

    <%= f.label :"What is your primary language?" %>
    <%= f.select :language, [["--select one--",""],["Afrikaans","Afrikaans"],["Albanian","Albanian"],["Arabic","Arabic"],["Armenian","Armenian"],
                             ["Azerbaijani","Azerbaijani"],["Basque","Basque"],["Bengali","Bengali"],["Bosnian","Bosnian"],["Bulgarian","Bulgarian"],
                             ["Catalan","Catalan"],["Central Khmer","Central Khmer"],["Chinese","Chinese"],["Croatian","Croatian"],["Czech","Czech"],
                             ["Danish","Danish"],["Dutch","Dutch"],["English","English"],["Estonian","Estonian"],
                             ["Fijian","Fijian"],["Finnish","Finnish"],["French","French"],["Georgian","Georgian"],["German","German"],["Greek","Greek"],
                             ["Gujarati","Gujarati"],["Hebrew","Hebrew"],["Hindi","Hindi"],["Hungarian","Hungarian"],["Icelandic","Icelandic"],
                             ["Indonesian","Indonesian"],["Irish","Irish"],["Italian","Italian"],["Japanese","Japanese"],["Korean","Korean"],["Latin","Latin"],
                             ["Latvian","Latvian"],["Lithuanian","Lithuanian"],["Macedonian","Macedonian"],["Malay","Malay"],["Malayalam","Malayalam"],["Maltese","Maltese"],
                             ["Maori","Maori"],["Marathi","Marathi"],["Mongolian","Mongolian"],["Nepali","Nepali"],["Norwegian","Norwegian"],["Panjabi","Panjabi"],
                             ["Persian","Persian"],["Polish","Polish"],["Portuguese","Portuguese"],["Quechua","Quechua"],["Romanian","Romanian"],["Russian","Russian"],["Samoan","Samoan"],
                             ["Serbian","Serbian"],["Slovak","Slovak"],["Slovenian","Slovenian"],["Spanish","Spanish"],["Swahili","Swahili"],["Swedish","Swedish"],
                             ["Tamil","Tamil"],["Tatar","Tatar"],["Telugu","Telugu"],["Thai","Thai"],["Tibetan","Tibetan"],
                             ["Tonga (Tonga Islands)","Tonga (Tonga Islands)"],["Turkish","Turkish"],["Ukrainian","Ukrainian"],
                             ["Urdu","Urdu"],["Uzbek","Uzbek"],["Vietnamese","Vietnamese"],["Welsh","Welsh"],["Xhosa","Xhosa"]] %>


    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :" Please enter your bio, This information will be shared on your profile." %>
    <%= f.cktext_area :bio, :class => "ckeditor", :ckeditor => {:language => "zh-CN"} %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  
</div>

</div>





