<% provide(:title, "Edit user") %>




<h2 class='hidden-accessible'>编辑个人信息</h2>
<div class="row-fluid" >

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :"个人头像" %><br />  
    <%= image_tag(@user.avatar_url(:thumb)) if @user.avatar? %>  
    <%= f.file_field :avatar %> 
    <%= f.hidden_field :avatar_cache %> 

    <%= f.label :"姓氏" %>
    <%= f.text_field :first_name %>

    <%= f.label :"名字" %>	
    <%= f.text_field :last_name %>
      
    <%= f.label :" 所在城市" %>
    <%= f.text_field :city %>

    <%= f.label :" 年龄" %>
    <!--<%= f.text_field :age %>-->
    <%= f.select :age, [["--选择--",""],['18-20', '18-20'], ['21-25', '21-25'],['26-30','26-30'],["31-35","31-35"],["36-40","36-40"],
                        ["41-45","41-45"],["46-50","46-50"],["50-60","50-60"],["60以上","60以上"],["秘密","秘密"]] %>
    
    <%= f.label :"性别" %>
   <!-- <%= select_tag "gender", options_for_select([ "man", "woman"]) %>-->
    <%= f.select :gender, [['男', '男'], ['女', '女'],['秘密','秘密']] %>
    

    <%= f.label :"国家语言" %>
    <%= f.select :language, [["--选择--",""],["Afrikaans","Afrikaans"],["Albanian","Albanian"],["Arabic","Arabic"],["Armenian","Armenian"],
                             ["Azerbaijani","Azerbaijani"],["Basque","Basque"],["Bengali","Bengali"],["Bosnian","Bosnian"],["Bulgarian","Bulgarian"],
                             ["Catalan","Catalan"],["Central Khmer","Central Khmer"],["Chinese","Chinese"],["Croatian","Croatian"],["Czech","Czech"],
                             ["Danish","Danish"],["Dutch","Dutch"],["English","English"],["Estonian","Estonian"],
                             ["Fijian","Fijian"],["Finnish","Finnish"],["French","French"],["Georgian","Georgian"],["German","German"],["Greek","Greek"],
                             ["Gujarati","Gujarati"],["Hebrew","Hebrew"],["Hindi","Hindi"],["Hungarian","Hungarian"],["Icelandic","Icelandic"],
                             ["Indonesian","Indonesian"],["Irish","Irish"],["Italian","Italian"],["Japanese","Japanese"],["Korean","Korean"],["Latin","Latin"],
                             ["Latvian","Latvian"],["Lithuanian","Lithuanian"],["Macedonian","Macedonian"],["Malay","Malay"],["Malayalam","Malayalam"],["Maltese","Maltese"],
                             ["Maori","Maori"],["Marathi","Marathi"],["Mongolian","Mongolian"],["Nepali","Nepali"],["Norwegian","Norwegian"],["Panjabi","Panjabi"],
                             ["Persian","Persian"],["Polish","Polish"],["Portuguese","Portuguese"],["Quechua","Quechua"],["Romanian","Romanian"],["Russian","Russian"],["Samoan","Samoan"],
                             ["Serbian","Serbian"],["Slovak","Slovak"],["Slovenian","Slovenian"],["Spanish","Spanish"],["Swahili","Swahili"],["Swedish","Swedish"],
                             ["Tamil","Tamil"],["Tatar","Tatar"],["Telugu","Telugu"],["Thai","Thai"],["Tibetan","Tibetan"],
                             ["Tonga (Tonga Islands)","Tonga (Tonga Islands)"],["Turkish","Turkish"],["Ukrainian","Ukrainian"],
                             ["Urdu","Urdu"],["Uzbek","Uzbek"],["Vietnamese","Vietnamese"],["Welsh","Welsh"],["Xhosa","Xhosa"]] %>


    <%= f.label :密码 %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "确认密码" %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :" 个人简历" %>
    <%= f.cktext_area :bio, :class => "ckeditor", :ckeditor => {:language => "zh-CN"} %>

    <%= f.submit "保存", class: "btn btn-large btn-primary" %>
    <% end %>
  
</div>





