<% provide(:title, "Edit user") %>

<div class='' id='wrap'>
<div id='main'>
<div class='navbar' id='topNav'>
<div class='navbar-container'>
<div class='container non-course-navbar-container'>
<div class='navbar subnav non-course'>

</div>
</div>
</div>
</div>

<div class='container main-container'>
<div class='content'>
<div class='row'>
<div class='span12'>

</div>
</div>
<div class='row'>
<div class='row-fluid'>
<div class='span12'>
<h2 class='hidden-accessible'>编辑个人信息</h2>
<div class='row-fluid tabbable tabs-left'>
<div class='span3 tab-span'>
<div class='well less-padding left-menu'>
<ul class='nav nav-list'>
<li class="active">
<a data-toggle='tab' href='#item-1'>注册信息</a>
</li>
<li class="">
<a data-toggle='tab' href='#item-2'>个人简介详情</a>
</li>
</ul>
</div>
</div>
<div class='span9'>
<div class='white well'>
<div class='tab-content'>
<div id="item-1" class="tab-pane active">
<h3>注册信息</h3>
<br>

<div class="row-fluid" >

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :picture %><br />  
    <%= image_tag(@user.avatar_url(:thumb)) if @user.avatar? %>  
    <%= f.file_field :avatar %> 
    <%= f.hidden_field :avatar_cache %> 

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
      
    <%= f.label :email %>
    <%= f.text_field :email %>
    <div>
    <%= f.label :reg_date %>
    <%= f.calendar_date_select :reg_date %>
    </div>
    <br />
    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :age %>
    <!--<%= f.text_field :age %>-->
    <%= f.select :age, [["--选择--",""],['18-20', '18-20'], ['21-25', '21-25'],['26-30','26-30'],["31-35","31-35"],["36-40","36-40"],["41-45","41-45"],["46-50","46-50"],["50以上","50以上"]] %>
    
    <%= f.label :gender %>
   <!-- <%= select_tag "gender", options_for_select([ "man", "woman"]) %>-->
    <%= f.select :gender, [['男', '男'], ['女', '女'],['秘密','秘密']] %>
    
    <%= f.label :teamrank %>
    <%= f.text_field :teamrank %>

    <%= f.label :language %>
    <%= f.text_field :language %>

    <%= f.label :courses %>
    <%= f.text_field :courses %>

    <%= f.label :past_courses %>
    <%= f.text_field :past_courses %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :bio %>
    <%= f.cktext_area :bio, :class => "ckeditor", :ckeditor => {:language => "zh-CN"} %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  
</div>

</div>
<div id="item-2" class="tab-pane ">
<h3>个人资料</h3>
<div class="row-fluid" >
  <div class="span6 offset3" >
  <h2>正在编辑当中。。。。</h2>

  </div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>


