<% provide(:title, 'All users') %>
<h1><%= t('users.list')%></h1>
<hr>
<table class="table table-bordered">
<tr>	
   <th><%= t('users.username')%></th>
   <th><%= t('users.gender')%></th>
   <th><%= t('users.city')%></th>
   <th><%= t('users.age')%></th>
   <th><%= t('users.education') %></th>
   <th><%= t('users.email')%></th>
   <th><%= t('show')%></th>
   <th><%= t('edit')%></th>
   <th><%= t('destroy')%></th>
</tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to (user.first_name+user.last_name), user %></td>
      <td><%= user.gender %></td>
      <td><%= user.city %></td>
      <td><%= user.age %></td>
      <td><%= user.education%></td>
      <td><%= user.email %></td>
      <td><%= link_to t("show"), user %></td>
      <td><%= link_to t("edit"), edit_user_path(current_user) %></td>      
      <td><%= link_to t('destroy'), user, method: :delete, data: { confirm: t('sure') } %></td>
    </tr>
  <% end %>
</table>
<hr>
<%=will_paginate(@users, :previous_label=>t('previous_label'), :next_label=>t('next_label'), :separator=>" | ") %>




