<% provide(:title, 'All users') %>
<h1><%= t('users.list')%></h1>
<hr>
<table class="table table-bordered">
<tr>	
   <th><%= t('users.avatar')%></th>	
   <th><%= t('users.username')%></th>
   <th><%= t('users.gender')%></th>
   <th><%= t('users.city')%></th>
   <th><%= t('users.age')%></th>
   <th><%= t('users.education') %></th>
   <th><%= t('users.email')%></th>
   <th><%= t('show')%></th>
   <th><%= t('edit')%></th>
   <th><%= t('destroy')%></th>
</tr>
  <% @users.each do |user| %>
    <tr>
      <th><%= image_tag(user.avatar_url(:small_thumb)) if user.avatar? %></th>	
      <th><%= link_to (user.first_name+user.last_name), user %></th>
      <th><%= user.gender %></th>
      <th><%= user.city %></th>
      <th><%= user.age %></th>
      <th><%= user.education%></th>
      <th><%= user.email %></th>
      <th><%= link_to t("show"), user,class: "btn btn-info" %></th>
      <th><%= link_to t("edit"), edit_user_path(current_user),class: "btn btn-warning" %></th>      
      <th><%= link_to t('destroy'), user, method: :delete, data: { confirm: t('sure') },class: "btn btn-danger" %></th>
    </tr>
  <% end %>
</table>
<hr>
<%=will_paginate(@users, :previous_label=>t('previous_label'), :next_label=>t('next_label'), :separator=>" | ") %>




