<h2><%= t('clclass.current_courses')%></h2>
<table class="table table-condensed">
	<tr>
		<th><%= t("course.full_name") %></th>
		<th><%= t("clclass.teacher") %></th>
		<th><%= t("course.description") %></th>
		<th> &nbsp; </th>
		<th><%= t('course.progress') %> </th>
		<th><%= t("clclass.start_date")%></th>
	</tr>
	<% @class_user.each do |clclass| %>
	<tr>
		<td><%= link_to get_course_by_clclass(clclass.course_id).course_name,clclass %></td>
		<td><%= clclass.teacher %></td>
		<td width="60%"><%= raw clclass.class_description%></td>
		<td><%= %></td>
		<td><%= %></td>
		<td><%= clclass.starting_date %></td>
	</tr>
	<% end %>
</table>

<h2><%= t('clclass.past_courses')%></h2>
<table class="table table-condensed">
	<tr>
		<th><%= t("course.full_name") %></th>
		<th><%= t("clclass.teacher") %></th>
		<th><%= t("course.description") %></th>
		<th> &nbsp; </th>
		<th><%= t('course.progress') %> </th>
		<th><%= t("clclass.start_date")%></th>
	</tr>
	<% @clclasses.each do |clclass| %>
	<tr>
		<td><%= %></td>
		<td><%= %></td>
		<td><%= %></td>
		<td><%= %></td>
		<td><%= %></td>
		<td><%= %></td>
	</tr>
	<% end %>
</table>