<% provide(:title, 'Sign up') %>
<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h1><%= t 'sign_up'%></h1>
			<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= t('users.first_name') %>
			<%= f.text_field :first_name, :required => true %>

			<%= t('users.last_name') %>
			<%= f.text_field :last_name, :required => true %>

			<%= t('users.email') %>
			<br />
			<%= f.text_field :email , :type => "email", :required => true %>
			<br />

			<%= t('password') %>
			<%= f.password_field :password,:required => true %>

			<%= f.label :password_confirmation, t("confirmation") %>
			<%= f.password_field :password_confirmation, :required => true %>

			<%= f.submit t("create_my_account"), class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
