
<div class='container main-container'>
<div class='content'>
<div class='row'>
<div class='row-fluid'>
<div class='span12'>
<div class='row-fluid tabbable tabs-left'>
  <div class='span3 tab-span'>
    <div class='well less-padding left-menu'>
		   <table>
               <td><%= image_tag(@user.avatar) %></td><br />
           </table>
               <p>
                 <h2> <%= @user.first_name+@user.last_name %></h2>
               </p>
<ul class='nav nav-list'>
  <li class="active">
    <a data-toggle='tab' href='#item-1'>
    <i class='icon-star'></i>
      Personal Profile
    </a>
  </li>
  
  <li class="">
    <a data-toggle='tab' href='#item-2'>
    <i class='icon-list-alt'></i>	
      Course	
    </a>
  </li>
  
  <li class="">
    <a data-toggle='tab' href='#item-3'>
    <i class='icon-user'></i>
      Network
    </a>
  </li>
  
    <li class="">
    <a data-toggle='tab' href='#item-4'>
    <i class='icon-comment'></i>
      Endorsements	
    </a>
  </li>
</ul>

     </div>
</div>
<div class='span9'>
<div class='white well'>
<div class='tab-content'>
<div id="item-1" class="tab-pane active">

           <table class="table table-bordered">
               <p>
               	  <i class='icon-user'></i>
                  <b>first_name:</b>
                  <%= @user.first_name %>
               </p>
               <p>
               	  <i class='icon-user'></i>
                  <b>last_name:</b>
                  <%= @user.last_name %>
               </p>
               
               <p>
               	  <i class='icon-align-left'></i>               	
                  <b>gender:</b>
                  <%= @user.gender %>
               </p>
               <p>
               	  <i class='icon-align-left'></i>               	
                  <b>age:</b>
                  <%= @user.age %>
               </p>
               	  <i class='icon-home'></i>               
                  <b>Lives in:</b>
                  <%= @user.city %>
               </p>
               <p>
               	  <i class='icon-align-left'></i>               	
                  <b>Speaks:</b>
                  <%= @user.language %>
               </p>
               <p>
               	  <i class='icon-time'></i>               	
                  <b>reg_date:</b>
                  <%= @user.created_at %>
               </p>               
               <p>
               	  <i class='icon-time'></i>               	
                  <b>last_activity:</b>
                  <%= @user.updated_at %>
               </p>
     
               <p>
               	  <i class='icon-hand-right'></i>               	
                  <b>teamrank:</b>
                  <%= @user.teamrank %>
               </p>
               <p>
               	  <i class='icon-envelope'></i>               	
                  <b>Email:</b>
                  <%= @user.email %>
               </p>
               <p>
               	  <i class='icon-pencil'></i>               	
                  <b>bio:</b>
                  <%= raw @user.bio %>
               </p>
           </table>
           <li class="btn"><i class='icon-dark icon-edit'><span class='hidden-accessible'> </span>           	
           </i><%= link_to t('Eidt Profile'), edit_user_path(current_user) %></li>
</div>

<div id="item-2" class="tab-pane ">
        <h3><%= @user.first_name %>'s Courses</h3>
         <div class="row-fluid" >
            <div class="span6 offset3" >
               ....
            </div>
         </div>
</div>

<div id="item-3" class="tab-pane ">
         <h3><%= @user.first_name %>'s Network</h3>
         <div class="row-fluid" >
            <div class="span6 offset3" >
                ....
            </div>
         </div>
</div>

<div id="item-4" class="tab-pane ">
         <h3><%= @user.first_name %>'s Endorsements</h3>         
         <div class="row-fluid" >
            <div class="span6 offset3" >
               ....
            </div>
         </div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



