<%= form_for(@teacher) do |f| %>
<% if @teacher.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

	<ul>
		<% @teacher.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<table cellSpacing="20" class="table-bordered">
	<tr>
		<td valign="top" width="50%">
		<div class="field">
	<i class='icon-user'></i>
			<%= t('teachers.first_name') %>
			<br />
			<%= f.text_field :first_name %>
		</div>
		<div class="field">
	<i class='icon-user'></i>
			<%= t('teachers.last_name') %>
			<br />
			<%= f.text_field :last_name %>
		</div>
		<div class="field">
	<i class='icon-user'></i>
			<%= t('teachers.alias_name') %>
			<br />
			<%= f.text_field :alias_name %>
		</div>
		<div class="field">
			<i class='icon-align-left'></i>
			<%= t('teachers.title') %>
			<br />
			<%= f.text_field :title %>
		</div>
		<div class="field">
			<i class='icon-align-left'></i>
			<%= t('teachers.position') %>
			<br />
			<%= f.text_field :position %>
		</div>
		<div class="field">
	<i class='icon-user'></i>
			<%= t('teachers.valid_certificate') %>
			<br />
			<%= f.text_field :valid_certificate %>
		</div>
		<div class="field">
	<i class='icon-user'></i>
			<%= t('teachers.valid_certificate_no') %>
			<br />
			<%= f.text_field :valid_certificate_no %>
		</div>
		<div class="field">
	<i class='icon-user'></i>
			<%= t('teachers.pwd') %>
			<br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
	<i class='icon-user'></i>
			<%= f.label :password_confirmation,t('teachers.pwd_confirmation') %>
			<br />
			<%= f.password_field :password_confirmation %>
		</div></td>
		<td valign="top" width="50%">
		<table >
			<tr>
				<td>
				<div>
					<%= image_tag(@teacher.avatar_url(:thumb)) if @teacher.avatar? %>
					<br />
				</div></td>
			</tr>
			<tr>
				<td>
				<div class="field">
	<i class='icon-user'></i>
					<%= t('teachers.image_url') %>
					<br />
					<%#= f.text_field :image_url %>
					<%= f.file_field :avatar %>
					<%= f.hidden_field :avatar_cache %>
				</div>
				<div class="field">
					<i class='icon-envelope'></i>
					<%= t('teachers.email') %>
					<br />
					<%= f.text_field :email %>
				</div>
				<div class="field">
					<i class='icon-home'></i>
					<%= t('teachers.telephone') %>
					<br />
					<%= f.text_field :telephone %>
				</div>
				<div class="field">
					<i class='icon-hand-right'></i>
					<%= t('teachers.mobile') %>
					<br />
					<%= f.text_field :mobile %>
				</div>
				<div class="field">
					<i class='icon-home'></i>
					<%= t('teachers.address') %>
					<br />
					<%= f.text_field :address %>
				</div>
				<div class="field">
					<i class='icon-home'></i>
					<%= t('teachers.postcode') %>
					<br />
					<%= f.text_field :postcode %>
				</div></td>
			</tr>
		</table></td>
		<td valign="top">
</td>
	</tr>
	<tr >
		<td colspan=2>
					<div class="field" id="field_resume">
			<i class='icon-align-left'></i>
			<%= t('teachers.resume') %>
			<br />
    <%= f.cktext_area :resume, :class => "ckeditor", :ckeditor => {:language => "zh-CN"} %>
		</div>
		<div class="field_comment">
			<%= t('teachers.comment') %>
			<br />
			<%= f.text_area :comment  ,:rows=>4%>
		</div>
		</td>
	</tr>
</table>
<div class="actions" align="center">
	<%= f.submit(t('teachers.commit')) %>
</div>

<% end %>

