<table width="750px" align="center" class="table-bordered">
	<tr>
		<td></td>
	</tr>

	<tr>
		<td colspan="2">
		<p>
			<%= image_tag(@teacher.avatar_url(:thumb),:class=>'list_image') if @teacher.avatar? %>
			<%=raw @teacher.resume %>

		</p></td>
	</tr>
	<tr>
		<td width="50%">
		<p>
			<i class='icon-user'></i>
			<b><%= t('teachers.first_name')%>:</b>
			<%= @teacher.first_name %>
		</p>
		<p>
			<i class='icon-user'></i>
			<b><%= t('teachers.last_name')%>:</b>
			<%= @teacher.last_name %>
		</p>
		<p>
			<i class='icon-user'></i>
			<b><%= t('teachers.alias_name')%>:</b>
			<%= @teacher.alias_name %>
		</p>
		<p>
			<i class='icon-user'></i>
			<b><%= t('teachers.valid_certificate')%>:</b>
			<%= @teacher.valid_certificate %>
		</p>
		<p>
			<i class='icon-user'></i>
			<b><%= t('teachers.valid_certificate_no')%>:</b>
			<br/>
			<%= @teacher.valid_certificate_no %>
		</p>
		<p>
			<i class='icon-align-left'></i>
			<b><%= t('teachers.title')%>:</b>
			<%= @teacher.title %>
		</p>
		<p>
			<i class='icon-align-left'></i>
			<b><%= t('teachers.position')%>:</b>
			<%= @teacher.position %>
		</p></td>
		<td valign="top" >
		<p>

			<b><%= t('teachers.contacts')%>:</b>
		</p>
		<p>
			<i class='icon-envelope'></i>
			<b><%= t('teachers.Email')%>:</b>
			<%= @teacher.email %>
		</p>
		<p>
			<i class='icon-home'></i>
			<b><%= t('teachers.telephone')%>:</b>
			<%= @teacher.telephone %>
		</p>
		<p>
			<i class='icon-hand-right'></i>
			<b><%= t('teachers.mobile')%>:</b>
			<%= @teacher.mobile %>
		</p>
		<p>
			<i class='icon-home'></i>
			<b><%= t('teachers.address')%>:</b>
			<%= @teacher.address %>
		</p>
		<p>
			<i class='icon-home'></i>
			<b><%= t('teachers.postcode')%>:</b>
			<%= @teacher.postcode %>
		</p></td>
	</tr>

	<tr>
		<td colspan='2'>
		<p>
			<b><%= t('teachers.comment')%>:</b>
			<br/>
			<%= @teacher.comment %>
		</p></td>
	</tr>
</table>