<h1>Listing teachers</h1>

<table>
  <tr>
    <th><%= t('.last_name')%></th>
    <th>First name</th>
    <th>Alias name</th>
    <th>Valid certificate</th>
    <th>Valid certificate no</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Mobile</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Title</th>
    <th>Position</th>
    <th>Regist name</th>
    <th>Pwd</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><% if(teacher.deleted==1) %>  * <% end  %><%= teacher.last_name %></td>
    <td><%= teacher.first_name %></td>
    <td><%= teacher.alias_name %></td>
    <td><%= teacher.valid_certificate %></td>
    <td><%= teacher.valid_certificate_no %></td>
    <td><%= teacher.email %></td>
    <td><%= teacher.telephone %></td>
    <td><%= teacher.mobile %></td>
    <td><%= teacher.address %></td>
    <td><%= teacher.postcode %></td>
    <td><%= teacher.title %></td>
    <td><%= teacher.position %></td>
    <td><%= teacher.regist_name %></td>
    <td><%= teacher.pwd %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
