<h1><%= t('.win_title')%></h1>

<table cellPading='10px'>
  <tr>
    <th><%= t('.first_name')%></th>
    <th><%= t('.last_name')%></th>
    <th><%= t('.alias_name')%></th>
    <th><%= t('.valid_certificate')%></th>
    <th><%= t('.valid_certificate_no')%></th>
    <th><%= t('.Email')%></th>
    <th><%= t('.telephone')%></th>
    <th><%= t('.mobile')%></th>
    <th><%= t('.address')%></th>
    <th><%= t('.postcode')%></th>
    <th><%= t('.title')%></th>
    <th><%= t('.position')%></th>
     <th></th>
    <th></th>
    <th></th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<%@teachers.each do |teacher| %>
  <tr class = "<%=cycle('odd','even')%>">
    <td><% if(teacher.deleted==1) %>*<% end  %><%= teacher.first_name %></td>
    <td><%= teacher.last_name %></td>
    <td><%= teacher.alias_name %></td>
    <td><%= teacher.valid_certificate %></td>
    <td><%= teacher.valid_certificate_no %></td>
    <td><%= teacher.email %></td>
    <td><%= teacher.telephone %></td>
    <td><%= teacher.mobile %></td>
    <td><%= teacher.address %></td>
    <td><%= teacher.postcode %></td>
    <td><%= teacher.title %></td>
    <td><%= teacher.position %></td>
     <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
