<h1><%= t('.win_title')%></h1>

<table cellPading='10px' class="table_index_teacher">
  <tr>
    <th><%= t('teachers.first_name')%></th>
    <th><%= t('teachers.last_name')%></th>
    <th><%= t('teachers.alias_name')%></th>
    <th><%= t('teachers.Email')%></th>
    <th><%= t('teachers.telephone')%></th>
    <th><%= t('teachers.mobile')%></th>
    <th><%= t('teachers.postcode')%></th>
    <th><%= t('teachers.title')%></th>
    <th><%= t('teachers.position')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%@teachers.each do |teacher| %>
  <tr class = "<%=cycle('odd','even')%>">
    <td><% if(teacher.deleted==1) %>*<% end  %><%= teacher.first_name %></td>
    <td><%= teacher.last_name %></td>
    <td><%= teacher.alias_name %></td>
    <td><%= teacher.email %></td>
    <td><%= teacher.telephone %></td>
    <td><%= teacher.mobile %></td>
    <td><%= teacher.postcode %></td>
    <td><%= teacher.title %></td>
    <td><%= teacher.position %></td>
     <td><%= link_to t('.show'), teacher %></td>
    <td><%= if can? :manage,teacher; link_to t('.edit'), edit_teacher_path(teacher) end %></td>
    <td><%= if can? :manage,teacher; link_to t('.destroy'), teacher, method: :delete, data: { confirm: 'Are you sure?' } end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_teacher'), new_teacher_path %>
