<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('course.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= t('course.full_name') %><br />
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= t('course.code') %><br />
    <%= f.number_field :course_code %>
  </div>
  <div class="field">
    <%= t('course.description') %><br />
    <%= f.cktext_area :description %>
  </div>
  <div class="actions">
    <%= f.submit t('save'),class: "btn btn-primary"%>
  </div>
<% end %>
