<div class="row">
	<div class="span12">
		<div class="well" style="background-color: lavender;">
			<h2><%= t('clclass.exercise.list_exercise')%></h2>
			<div class="alert">
				<%= t('All assignments are due at 23:59 PST of the pacific standard time on their due date, unless noted otherwise.')%>
			</div>
			<div class='assignment-content-container row-fluid'>
			<table class="table table-hover">
				<tbody>
					<tr>
						<th scope='col' style='text-align:left'><i class='icon-list'></i><%= t('clclass.exercise.name')%></th>
						<th scope='col'><i class="icon-book"></i><%= t('clclass.exercise.description')%></th>
						<th scope="col"><i class="icon-time"></i><%= t('clclass.exercise.start_date')%></th>
						<th scope="col"><i class="icon-time"></i><%= t('clclass.exercise.deadline')%></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
			
				<% @exercises.each do |exercise| %>
				
					<tr>
						<td width="10%"><%= link_to exercise.name, clclass_exercise_path(@clclass,exercise) %></td>
						<td><%= truncate(strip_tags(exercise.description),:length =>20) %></td>
						<td><%= exercise.start_date %></td>
						<td><%= exercise.deadline %></td>
						<td><%= link_to t('show'), clclass_exercise_path(@clclass,exercise) ,class: "btn btn-info"%></td>
						<td><%= link_to t('edit'), edit_clclass_exercise_path(@clclass,exercise) ,class: "btn btn-warning"%></td>
						<td><%= link_to t('destroy'), clclass_exercise_path(@clclass,exercise), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger"%></td>
					</tr>
				</tbody>
				<% end %>
			</table>
			</div>
		</div>
	</div>
</div>
<!-- <%= link_to 'New Exercise'%> -->