<h1><%= t('clclass.exercise.list_exercise')%></h1>
<table class="table table-condensed">
	<thead>
		<tr>
			<th><%= t('clclass.exercise.name')%></th>
			<th><%= t('clclass.exercise.description')%></th>
			<th><%= t('clclass.exercise.special_instruction')%></th>
			<th><%= t('clclass.exercise.action_items')%></th>
			<th><%= t('clclass.exercise.start_date')%></th>
			<th><%= t('clclass.exercise.deadline')%></th>
			<th><%= t('clclass.lecture.name')%></th>
			<th><%= t('course.name')%></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% @exercises.each do |exercise| %>
	<tbody>
		<tr>
			<td><%=  link_to exercise.name, clclass_exercise_path(@clclass,exercise)%></td>
			<td><%= exercise.description %></td>
			<td><%= exercise.special_instruction %></td>
			<td><%= exercise.action_items %></td>
			<td><%= exercise.start_date %></td>
			<td><%= exercise.deadline %></td>
			<td><%= exercise.lecture.name %></td>
			<td><%= get_course_by_clclass( exercise.clclass.course_id).name %></td>
			<td><%= link_to t('show'), clclass_exercise_path(@clclass,exercise) %></td>
			<td><%= link_to t('edit'), edit_clclass_exercise_path(@clclass,exercise) %></td>
			<td><%= link_to t('destroy'), clclass_exercise_path(@clclass,exercise), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	</tbody>
	<% end %>
</table>

<br />

<!-- <%= link_to 'New Exercise'%> -->
