<%= form_for([@clclass,@exercise,@report],:url=>{:action=>"reports"}) do |f| %>
<% if @report.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

	<ul>
		<% @report.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label "name" %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label "solutions" %>
	<%= f.text_area :problems_solutions ,:rows => 6 %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
