<%= form_for([@clclass,@exercise,@report],:url=>{:action=>"reports"}) do |f| %>
<% if @report.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

	<ul>
		<% @report.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="well">
	<p>
		<b><%= t("clclass.report.name") %>:</b>
		<%= f.text_field :name %>
	</p>
	<p>
		<b><%= t("clclass.report.solutions") %>:</b><br />
		<%= f.cktext_area :problems_solutions %>
	</p>
	<%= f.submit t('save'),  class: "btn btn-primary" %>
	<td><%= link_to t('back'), clclass_exercise_path , class: "btn btn-info" %></td>
	<% end %>
</div>
