<div class="row-fluid">
	<div class="span12">
		<div class="white well">
			<h1><%= @report.name%></h1>
			<i class="icon-time"></i>
			<%= t('clclass.report.create_time')%>:
			<b><%= @report.created_at%></b>&nbsp;&nbsp;
			<i class="icon-time"></i>
			<%= t('clclass.report.update_time')%>:
			<b><%= @report.updated_at%></b>
			<hr />
			<p>
				<%= raw @report.problems_solutions%>
			</p>
			<hr />
			<td><%= link_to t('back'), clclass_exercise_path , class: "btn btn-info"%></td>
		</div>
	</div>
</div>
