<div class='row-fluid'>
	<div class='span12' style="background-color: lavender;">
		<div class='row-fluid tabbable tabs-left'>
			<div class='span2 tab-span'>
				<div class='well less-padding left-menu'>
					<ul class='nav nav-list'>
						<li>
							<%= link_to t("clclass.report.my_submissions"), show_reports_clclass_exercise_path(@clclass,@exercise,"submission"),class: "btn btn-inverse" %>
						</li>
						<li>
							<%= link_to t("clclass.report.all_submissions"), show_reports_clclass_exercise_path(@clclass,@exercise,"all_submission"),class:"btn btn-inverse" %>
						</li>
					</ul>
				</div>
			</div>

			<div class='span10'>
				<div class='white well'>
					<h2><%= t("clclass.report.submissions")%></h2>
					<hr />
					<% @reports.each do |r|%>
					<ul class="inline inline-block">
						<li>
							<div class="well">
								<tr>
									<td><%= link_to r.name, show_report_clclass_exercise_path(@clclass,@exercise,r.id) %> &nbsp;</td>
									<td><%= link_to "destroy", destroy_report_clclass_exercise_path(@clclass,@exercise,r.id),
									method: :delete,
									data: { confirm: 'Are you sure?' },class: "btn btn-warning" %></td>
								</tr>
							</div>
						</li>
					</ul>
					<%end %>
					<hr />
					<td><%= link_to t('back'), clclass_exercise_path, class: "btn btn-info" %></td>
				</div>
			</div>
		</div>
	</div>
</div>

