<footer class="footer">
  <small>
    <a href="#"><%= t 'cloudlab'%></a>
    by diandiyun &nbsp; &nbsp;
    
  <%= link_to "中文版", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "zh_CN" %>
  <%= link_to "English", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "en" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('about'),   about_path %></li>
      <li><%= link_to t('terms'),   terms_path %></li>
      <li><%= link_to t('contact'), contact_path %></li>
      <li><%= link_to t('help'), help_path %></li>
      <li><a href="http://www.diandiyun.org/"><%= t 'blog'%></a></li>
    </ul>
  </nav>
</footer>