<footer class="footer">
  <small>
    <a href="#"><%= t 'cloudlab'%></a>
    by diandiyun &nbsp; &nbsp;
    
  <%= link_to "中文版", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "zh_CN" %>
  <%= link_to "English", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "en" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('about'),   about_path %></li>
      <li><%= link_to t('terms'),   terms_path %></li>
      <li><%= link_to t('contact'), contact_path %></li>
      <li><%= link_to t('help'), help_path %></li>
      <li><a href="http://www.diandiyun.org/"><%= t 'blog'%></a></li>
	  <li><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=wKOzo4CkqaGupKm5ta7uo6_t" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a></li>
    </ul>
  </nav>
</footer>