<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('cloudlab'), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t('home'), root_path %></li>
          <li><%= link_to t('news'), "#" %></li>
          <% if signed_in?  %>
            <li><%= link_to t('teachers.teachers'), teachers_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%=current_user.first_name+current_user.last_name%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">  
                <li><%= link_to t('profile'), current_user %></li>
                <li><%= link_to t('my_classes'), "#" %></li>
                <li><%= link_to t('conversations'), '#' %></li>
                <li><%= link_to t('setting'), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t('sign_out'), signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t('sign_in'), signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>