<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('cloudlab'), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t('home'), root_path %></li>
          <li><%= link_to t('news'), "#" %></li>
          <% if !session[:teacher].nil?
          	    current_teacher=session[:teacher]%>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%=current_teacher.alias_name%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">  
                <li><%= link_to t('profile'), teacher_root_path %></li>
                <li><%= link_to t('my_classes'), teachers_clclasses_path %></li>
                <li><%= link_to t('conversations'), '#' %></li>
                <li><%= link_to t('setting'), edit_teacher_path(current_teacher) %></li>
                <li class="divider"></li>
                <li><%= link_to t('teachers.teachers'), teachers_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t('sign_out'), teacher_signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t('sign_in') %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">  
                <li><%= link_to t('sign_in_teacher'), teacher_signin_path %></li>      
                <li><%= link_to t('users.sign_in_user'), signin_path %></li>
              </ul>
            </li>          
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>