						<div class='span3 tab-span'>
							<div class='well less-padding left-menu'>
								<table>
									<td>    <%= image_tag(current_user.avatar_url(:thumb)) if current_user.avatar? %>  </td>
									<br />
								</table>
								<p>
									<h2> <%= current_user.first_name+current_user.last_name %></h2>
								</p>
								<ul class='nav nav-list'>
									<li class="<%='active' if current_teacher_page=='home'%>">
										<%= link_to t('profile'), teacher_root_path %>
										
									</li>

									<li class="<%='active' if current_teacher_page=='my_classes'%>">
										<%= link_to t('my_classes'), teachers_clclasses_path  %>
									</li>

									<li class="">
										<a data-toggle='tab' href='#item-3'> <i class='icon-user'></i> Network </a>
									</li>

									<li class="">
										<a data-toggle='tab' href='#item-4'> <i class='icon-comment'></i> Endorsements </a>
									</li>
								</ul>

							</div>
						</div>
