<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= calendar_date_select_includes %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
    <% render 'layouts/teacher_header' %>
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
<div class='container main-container'>
	<div class='content'>
		<div class='row'>
			<div class='row-fluid'>
				<div class='span12'>
					<div class='row-fluid tabbable tabs-left'>
         <% if signed_in?  %>
<%= render  'layouts/teacher_left'%>     
           <% end %>


						<div class='span9'>
							<div class='white well'>
								<div class='tab-content'>
      <%= yield %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

      
      <%= render 'layouts/footer' %>
    </div>
</body>
</html>